@model IEnumerable<MvcSimpleMusicSite_CourseProject.Models.Track>
@{
    ViewBag.Title = "Главная";
}
 <div class = "offset3 span7 ">
    <h2>Главгая страница админки</h2>
    <p> <h4 class = "text-success">Админы могу:</h4></p>
    <ul>
        <li class="well">Создавать пользователей</li>
        <li class="well">Удалять пользователй</li>
        <li class="well">Редактировать контент</li>
        <li class="well">Добавлять контент</li>
        <li class="well">Удалять контент</li>
    </ul>
 </div>
