@using MvcSimpleMusicSite_CourseProject.Resources.Views;
@{
    ViewBag.Title = @PagesAndLayotsRes.TitleAbout;
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";
}
<p class="text-secess">
    <h2>
        <i class = "warning">@PagesAndLayotsRes.Welcom</i></h2>
</p>
